.hero {
   width: 100%;
   min-height: 70vh;
   background-color: $gray-100;
   margin: 0.5rem;
   padding: 1.5rem;
   border-radius: 1rem;
   box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

   &__text {
      padding: 1.5rem;
      h1 {
         padding: 1rem 0;
         color: $yellow-800;
         font-size: $text-5xl;
      }
      h3 {
         padding: 0.5rem 0;
         color: $gray-500;
         font-size: $text-xl;
      }
      .btnStart {
         margin-top: 1rem;
         padding: 0.75rem 2rem;
      }
   }
}