.nav {
	//width: 100%;
	padding: 0rem 1.5rem;
	background: linear-gradient(to left, $red-500, $yellow-500);
	border-radius: 1rem;
	font-size: $text-base;
	color: $red-800;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

	&__logo {
		.logo {
			margin-right: 0.5rem;
			background-color: #00000020;
			border: none;
			border-radius: 5px;
		}
		.title {
			color: $yellow-300;
		}
	}

	&__links {
		width: auto;
		ul {
			text-align: center;
			:not(:last-child) {
				margin-right: 1.5rem;
			}

			li {
				padding: 0.5rem;
			}
		}
	}
	&__user {
		.signupLink {
			padding: 0.75rem;
			border-radius: 10px;
			margin-right: 0.5rem;
			&:hover {
				color: $yellow-400;
			}
		}

		.loginLink {
			padding: 0.75rem;
			border-radius: 10px;
			background-color: $yellow-400;
			&:hover {
				background: linear-gradient(180deg, $yellow-400, $yellow-200);
			}
		}

		.logoutLink {
			color: $yellow-400;
			margin-left: 1rem;
			&:hover {
				color: $yellow-600;
			}
		}
	}
}
