.post {
	padding: 2rem;
	border: 1px solid $gray-300;
	border-radius: 1rem;
	margin: 1rem 0;
	&__metadata {
		.writer {
			padding: 0.25rem 0;
		}
		.datetime {
			color: $gray-400;
			font-size: $text-xs;
		}
	}

	&__text {
		padding: 1rem 0;
		line-height: 1.75;
	}

	&__control {
		:not(:last-child) {
			margin-right: 0.5rem;
		}
	}
}
