.post {
	width: 100%;
	padding: 2rem;
	border: 1px solid $gray-300;
	border-radius: 1rem;
	margin: 1rem 0;
	&__metadata {
		.writer {
			padding: 0.25rem 0;
		}
		.datetime {
			color: $gray-400;
			font-size: $text-xs;
		}
	}

	&__text {
		padding: 1rem 0;
		line-height: 1.75;
	}

	&__control {
		:not(:last-child) {
			margin-right: 0.5rem;
		}
	}

	.modal {
		&__content {
			.title {
				text-align: center;
				font-size: $text-xl;
			}

			table {
				tbody {
					td {
						text-align: center;
					}
				}
			}

			form {
				width: 100%;
				.panelInput {
					width: 100%;
					max-width: 100%;
					height: 30vh;
					max-height: 50vh;
					padding: 1rem;
					border: none;
					border-radius: 1rem;
					font-size: $text-lg;
					font-family: inherit;
					line-height: 1.5;
					background: #fefefe99;
					box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
					&:focus {
						outline: none;
					}
				}
			}
			.control {
				button {
					width: 20%;
					margin: 1rem 1rem;
				}
			}
		}
	}
}
