.promptList {
	max-width: 70%;
	padding: 0 3rem;
	display: block;

	&__noContent {
		padding: 2rem;
		text-align: center;
	}

	.modal {
		&__content {
			form {
				width: 80%;
				.formLabel {
					padding: 0.5rem 0;
				}
				input,
				select {
					padding: 0.5rem;
					border: 1px solid $gray-300;
					border-radius: 0.5rem;
					font-family: inherit;
				}
				.buttonPanel {
					button {
						width: 20%;
						margin: 1rem 1rem;
					}
				}
			}
		}
	}
}
