.modal {
	&__body {
		.content {
			form {
				width: 80%;
				.formLabel {
					text-align: left;
					padding: 0.5rem 0;
				}
				input,
				select {
					padding: 0.5rem;
					border: 1px solid $gray-300;
					border-radius: 0.5rem;
					font-family: inherit;
				}
				.gradeCheckbox {
					input {
						margin: 0 0.5rem;
					}
				}
				.buttonPanel {
					button {
						width: 20%;
						margin: 1rem 1rem;
					}
				}
			}
		}
	}
}
