.prompt {
   padding: 1rem 2rem;
   margin: 1rem;
   border: 1px solid $yellow-500;
   border-radius: 1.5rem;

   &__main {
      .title {
         margin-right: 1rem;
      }
      .metadata {
         font-size: $text-xs;
         color: $gray-400;
      }
   }
}