@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #991B1B;
  line-height: 1.3;
}

.link,
.link:visited,
.link:hover {
  color: inherit;
  text-decoration: inherit;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

button {
  background: linear-gradient(to right, #EF4444, #EAB308);
  padding: 0.75rem;
  border: none;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-family: inherit;
  color: white;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(to left, #EF4444, #EAB308);
}

input::-moz-placeholder {
  font-family: inherit;
}

input:-ms-input-placeholder {
  font-family: inherit;
}

input::placeholder {
  font-family: inherit;
}

.container {
  width: 100%;
  padding: 0.5rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-fe {
  justify-content: flex-end;
}
.flex-ai-c {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

@media (max-width: ) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: ) {
  .hide-for-desktop {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__body {
  position: fixed;
  background: white;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.nav {
  padding: 0rem 1.5rem;
  background: linear-gradient(to left, #EF4444, #EAB308);
  border-radius: 1rem;
  font-size: 1rem;
  color: #991B1B;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.nav__logo .logo {
  margin-right: 0.5rem;
  background-color: #00000020;
  border: none;
  border-radius: 5px;
}
.nav__logo .title {
  color: #FDE047;
}
.nav__links {
  width: auto;
}
.nav__links ul {
  text-align: center;
}
.nav__links ul :not(:last-child) {
  margin-right: 1.5rem;
}
.nav__links ul li {
  padding: 0.5rem;
}
.nav__user .signupLink {
  padding: 0.75rem;
  border-radius: 10px;
  margin-right: 0.5rem;
}
.nav__user .signupLink:hover {
  color: #FACC15;
}
.nav__user .loginLink {
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #FACC15;
}
.nav__user .loginLink:hover {
  background: linear-gradient(180deg, #FACC15, #FEF08A);
}
.nav__user .logoutLink {
  color: #FACC15;
  margin-left: 1rem;
}
.nav__user .logoutLink:hover {
  color: #CA8A04;
}

.hero {
  width: 100%;
  min-height: 70vh;
  background-color: #F4F4F5;
  margin: 0.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.hero__text {
  padding: 1.5rem;
}
.hero__text h1 {
  padding: 1rem 0;
  color: #854D0E;
  font-size: 3rem;
}
.hero__text h3 {
  padding: 0.5rem 0;
  color: #71717A;
  font-size: 1.25rem;
}
.hero__text .btnStart {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
}

.signUp {
  margin-top: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.signUp__image {
  padding: 2rem;
}
.signUp__input {
  height: 100%;
  background: #FACC15;
  padding: 1rem;
  border-radius: 0rem 1rem 1rem 0rem;
}
.signUp__input h1 {
  padding: 1rem;
}
.signUp__input .error {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #EF4444;
  border: 1px solid #EF4444;
  border-radius: 0.5rem;
  background-color: #FEE2E2;
}
.signUp__input form :not(:last-child) {
  margin-bottom: 0.75rem;
}
.signUp__input form input {
  padding: 0.5rem;
  border: 1px solid #F4F4F5;
  border-radius: 0.5rem;
}
.signUp__input .link {
  margin-top: 1rem;
}

.login {
  margin-top: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.login__input {
  height: 100%;
  background: #FACC15;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 1rem 0rem 0rem 1rem;
}
.login__input h1 {
  padding: 1rem;
}
.login__input .error {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #EF4444;
  border: 1px solid #EF4444;
  border-radius: 0.5rem;
  background-color: #FEE2E2;
}
.login__input form :not(:last-child) {
  margin-bottom: 0.75rem;
}
.login__input form input {
  padding: 0.5rem;
  border: 1px solid #F4F4F5;
  border-radius: 0.5rem;
}
.login__input .link {
  margin-top: 1rem;
}
.login__image {
  padding: 2rem;
}

.promptList {
  max-width: 70%;
  padding: 0 3rem;
  display: block;
}
.promptList__noContent {
  padding: 2rem;
  text-align: center;
}
.promptList .modal__content form {
  width: 80%;
}
.promptList .modal__content form .formLabel {
  padding: 0.5rem 0;
}
.promptList .modal__content form input,
.promptList .modal__content form select {
  padding: 0.5rem;
  border: 1px solid #D4D4D8;
  border-radius: 0.5rem;
  font-family: inherit;
}
.promptList .modal__content form .buttonPanel button {
  width: 20%;
  margin: 1rem 1rem;
}

.prompt {
  padding: 1rem 2rem;
  margin: 1rem;
  border: 1px solid #EAB308;
  border-radius: 1.5rem;
}
.prompt__main .metadata {
  font-size: 0.75rem;
  color: #A1A1AA;
}
.prompt__main .metadata .type {
  margin-right: 0.5rem;
}
.prompt__main .metadata .datetime {
  margin-left: 0.5rem;
}
.prompt__description {
  font-size: 0.875rem;
  color: #A1A1AA;
  line-height: 1.5;
}

.overview {
  width: 70%;
}
.overview__title {
  padding: 1rem;
  text-align: center;
  font-weight: 500;
}
.overview__metadata .type {
  padding: 1rem;
}
.overview__metadata .datetime {
  padding: 1rem;
}
.overview__description {
  color: #A1A1AA;
  text-align: left;
}
.overview__error {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #EF4444;
  border: 1px solid #EF4444;
  border-radius: 0.5rem;
  background-color: #FEE2E2;
}
.overview__admin {
  padding: 1rem;
  border: 2px solid #F87171;
  border-radius: 1rem;
}
.overview__admin::before {
  content: "Admin Panel: ";
}
.overview__admin button {
  width: 5rem;
  margin: 0 0.5rem;
}
.overview .modal__content label {
  text-align: center;
}
.overview .modal__content button {
  width: 20%;
  margin: 1rem 1rem;
}
.overview__posts .pendingMsg {
  padding: 1rem;
  font-size: 1.25rem;
  color: #EF4444;
}
.overview__panel {
  width: 80%;
}
.overview__panel .panelTitle {
  padding: 1rem;
  font-weight: 500;
  text-align: center;
}
.overview__panel form {
  width: 100%;
  padding: 2rem 1rem;
  background: #E4E4E7;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.overview__panel form .panelInput {
  width: 100%;
  max-width: 100%;
  height: 30vh;
  max-height: 50vh;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: #fefefe99;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.overview__panel form .panelInput::-moz-placeholder {
  font-family: inherit;
}
.overview__panel form .panelInput:-ms-input-placeholder {
  font-family: inherit;
}
.overview__panel form .panelInput::placeholder {
  font-family: inherit;
}
.overview__panel form .panelInput:focus {
  outline: none;
}
.overview__panel form .btnSubmitAnswer {
  width: 10vw;
  margin-top: 1rem;
}

.post {
  padding: 2rem;
  border: 1px solid #D4D4D8;
  border-radius: 1rem;
  margin: 1rem 0;
}
.post__metadata .writer {
  padding: 0.25rem 0;
}
.post__metadata .datetime {
  color: #A1A1AA;
  font-size: 0.75rem;
}
.post__text {
  padding: 1rem 0;
  line-height: 1.75;
}
.post__control :not(:last-child) {
  margin-right: 0.5rem;
}
.post .modal__content label {
  text-align: center;
}
.post .modal__content button {
  width: 20%;
  margin: 1rem 1rem;
}
.post .modal__content .panelInput {
  width: 100%;
  max-width: 100%;
  height: 30vh;
  max-height: 50vh;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: #fefefe99;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.post .modal__content .panelInput::-moz-placeholder {
  font-family: inherit;
}
.post .modal__content .panelInput:-ms-input-placeholder {
  font-family: inherit;
}
.post .modal__content .panelInput::placeholder {
  font-family: inherit;
}
.post .modal__content .panelInput:focus {
  outline: none;
}

.modal__content form {
  width: 80%;
}
.modal__content form .formLabel {
  text-align: left;
  padding: 0.5rem 0;
}
.modal__content form .error {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #EF4444;
  border: 1px solid #EF4444;
  border-radius: 0.5rem;
  background-color: #FEE2E2;
}
.modal__content form .success {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #22C55E;
  border: 1px solid #22C55E;
  border-radius: 0.5rem;
  background-color: #DCFCE7;
}
.modal__content form input,
.modal__content form select {
  padding: 0.5rem;
  border: 1px solid #D4D4D8;
  border-radius: 0.5rem;
  font-family: inherit;
}
.modal__content form .buttonPanel button {
  width: 20%;
  margin: 1rem 1rem;
}

.dashboard {
  width: 60%;
}
.dashboard__greeting {
  padding: 1rem;
}
.dashboard__profile {
  padding: 0 2rem;
  border-radius: 1rem;
}
.dashboard__profile .error {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #EF4444;
  border: 1px solid #EF4444;
  border-radius: 0.5rem;
  background-color: #FEE2E2;
}
.dashboard__profile .title {
  padding: 1rem;
}
.dashboard__profile table {
  width: 100%;
}
.dashboard__profile table td {
  padding: 0.75rem;
}
.dashboard__profile table td input,
.dashboard__profile table td select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #E4E4E7;
  border-radius: 0.5rem;
}
.dashboard__profile button {
  width: 20%;
  margin: 1rem 0;
}

.adminSidebar {
  padding: 1rem 0;
  margin-top: 2rem;
  margin-right: 2rem;
  width: 15%;
  border-right: 1px solid #D4D4D8;
}
.adminSidebar p {
  color: #D4D4D8;
}
.adminSidebar ul {
  padding: 0 1rem;
}
.adminSidebar ul li {
  padding: 0.5rem 0;
}

.userList {
  width: 50%;
  line-height: 1.5;
}
.userList button {
  margin: 0.5rem 0;
}
.userList table {
  width: 100%;
  padding: 1rem;
  text-align: left;
}/*# sourceMappingURL=styles.css.map */